# Python
__pycache__/
*.py[cod]
*.so
venv/
.env

# Node.js
node_modules/
npm-debug.log*

# Database
*.db
*.sqlite
*.sqlite3

# Vector database storage
# backend/services/vector_store/vector_db/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build artifacts
build/
dist/

# IDE
.vscode/
.idea/

# Trash folder
trash/


tasks.md